body,
html {
  background-color: #1b1b1b;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


   /* Styling the leaderboard with increased size */
.leaderboard {
  width: 100%;
  /* Increased width */
  background-color: #fff;
  box-shadow: 20px 15px 20px 0px rgba(0, 0, 0, 0.1);
  /* Enhanced shadow for more depth */
  border-radius: 10px;
  /* Slightly larger border radius for aesthetics */
  overflow: hidden;
  /* border: 20px 20px black; */
}

.leaderboard-header {
  background-color: red;
  color: #fff;
  padding: 50px;
  /* Increased padding */
  font-size: 50px;
  /* Larger font size */
  text-align: center;
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  /* Increased padding for more space */
  border-bottom: 2px solid #eee;
  /* Thicker bottom border */
  font-size: 50px;
  /* Larger font size for better readability */
}

.leaderboard-item:last-child {
  border-bottom: none;
}

.leaderboard-item:nth-child(even) {
  background-color: #f7f7f7;
  /* Slightly lighter color for differentiation */
}
